spring:
  profiles:
    active: prod
  application:
      name: gdblogs

# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.gdblogs.controller

# knife4j
#访问地址：http://119.91.150.19:8124/swagger-ui/index.html
knife4j:
  setting:
    language: zh_cn

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
