@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;
  --animate-marquee: marquee var(--duration) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee var(--duration, 40s) linear infinite;
  }
  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 40s) linear infinite;
  }
}

@layer base {
  body {
    @apply antialiased;
  }
}
